/* App.css */

#mongodbData {
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.custom-th, .custom-td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-th {
  background-color: #f2f2f2;
  cursor: pointer;
}
